.homepage-container .homepage-title {
  color: var(--filterIcon-color);
  border-bottom: 2px solid var(--orange-color);
    line-height: 2;
}

.homepage-container .slider {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}

.homepage-container .slider p {
    margin: 0;
}
.homepage-container .slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:1em 0;
}

.homepage-container .slider-item + .slider-item {
    border-top:1px solid var(--linewire-color);
    position: relative;

}

.homepage-container .slider-item--icon {
    width: 5em;
    position: relative;
}

.homepage-container .slider-item--icon__image {
    width: 100%;
}

.homepage-container .slider-item--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.homepage-container .slider-item--date {
  color: var(--orange-color);
  text-transform: uppercase;
}

.homepage-container .slider-item--content__tournament {
  color: var(--orange-color);
}

.homepage-container .slider-item--content__time,
.homepage-container .slider-item--content__name,
.homepage-container .slider-item--content__tournament{
    font-weight: 900;
}

.homepage-container .slider-desc--matchup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--desc-color);
    width: 90%;
    padding: 1em 0;
    margin: 1em 0;
    border: 0.5px solid var(--Border-color);
    border-radius: 3px;
}
.homepage-container .slider-desc--matchup__vs{
    color:var(--orange-color);
    font-weight: 900;
}

.homepage-container .slider-desc--matchup__item {
    display: flex;
    align-items: center;

}

.homepage-container .slider-desc--matchup__img {
    height: 2em;
}


@media (min-width: 900px) {

    .homepage-container .slider-item {
        width:calc(20% - 1px);
    }

    .homepage-container .slider-item + .slider-item {
        border-top:none;
        border-left: 1px solid var(--linewire-color);
    }
}
