.players-container .homepage-title {
    color: var(--filterIcon-color);
    border-bottom: 2px solid var(--orange-color);
    line-height: 2;
}

.players-container .slider {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}

.players-container .slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width:100%;
    padding:1em 19px;
    border: 1px solid var(--Border-color);
    background: var(--desc-color);
    margin: 3px;
    border-radius: 5px;
    position:relative;
}

.players-container .slider-item + .slider-item {
    position: relative;
}

.players-container .fa-trophy {
  font-size: 11px;
}

.players-container .slider-item--icon {
    width: 5em;
    height: 9.5em;
    position: relative;
    margin-left: -18px;
}

.players-container .slider-item--icon__image {
    width: 130%;
    margin-top: 17px;
    margin-bottom: 17px;
}

.players-container .slider-item--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 75px;
  }

.players-container .slider-item--titles {
    text-transform: uppercase;
}

.players-container .slider-item--content__nickname {
    color: var(--orange-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.players-container .slider-item--content__firstLastname {
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -11px;
}

.players-container .slider-item--content__hometown,
.players-container .slider-item--content__game {
    font-size: 13px;
    margin-top: -6px;
    color: var(--fontCard-color);
}

.players-container .slider-item--content__team {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.players-container .slider--item__info-match {
    display: none;
}

.players-container .upper-title {
    color: var(--orange-color);
    text-transform: uppercase;
    font-weight: bold;
}

.players-container .lower-title {
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
}

.players-container .lower-titleNone {
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 4px;
}

.players-container .title-box {
    margin-top: -29px;
}


.players-container .team-acr {
    font-size: 12px;
    font-family: monospace;
    color: var(--fontCard-color);
    text-transform: uppercase;
}

.players-container .team-title {
    font-size: 15px;
}

.players-container .team-logo {
    max-width: 10%;
}

@media (min-width: 900px) {

    .players-container .slider-item {
        width:calc(20% - 1px);
    }
}
