@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* ************************
        MAIN VARIABLES
*************************** */
:root,
:root body.light-theme {
    --ziggo-color:      var(--action-hover); /* soft white */
    --orange-color:     #f48c00; /* orange */
    --primary-color:    #f48c00; /* orange */
    --secondary-color:  #f9c57f; /* light orange */
    --nav-color:        #f5f5f5; /* soft white */
    --heading-color:    var(--primary-color); /* orange */
    --font-color:       #333333; /* soft black */
    --background:       #e6ecf0; /* solitude */
    --background-shade: #dedede; /* lighter grey */
    --action-color:     var(--primary-color); /* orange */
    --action-hover:     #f5f5f5; /* soft white */
    --desc-color:       #f5f5f5; /* soft white */
    --linewire-color:   #565454; /* matterhorn grey */
    --flag-color:       #f4a169; /* sandy brown */
    --filterIcon-color: #333333; /* soft black */
    --flag-text-color:  black;
    --filter-border-width: 0px;
    --desc-border-width: 1px;
    --shade-opacity:    rgba(255,255,255,0.8);
}

:root body.dark-theme {
    --ziggo-color:      #f48c00; /* orange */
    --orange-color:     #f48c00; /* orange */
    --primary-color:    #243447; /* midnight */
    --secondary-color:  #444444; /* dark grey */
    --nav-color:        #f5f5f5; /* soft white */
    --heading-color:    #f5f5f5; /* soft white */
    --font-color:       #f5f5f5; /* soft white */
    --background:       #141d26; /* black pearl */
    --background-shade: #888888; /* light grey */
    --action-color:     #f9c57f; /* light orange */
    --action-hover:     #f5f5f5; /* soft white */
    --filterIcon-color: #f48c00; /* orange */
    --desc-color:       var(--primary-color); /* midnight */
    --linewire-color:   rgba(213, 213, 213, 0.4);  /* light grey */
    --flag-color:       #ce6c0c; /* chocolate */
    --flag-text-color:  #e6ecf0; /* solitude */
    --filter-border-width: 0.5px;
    --desc-border-width: 1.4px;
    --shade-opacity:    rgba(0,0,0,0.8);
}


